@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* fill the height */
html, body {
    height: 100%;
}

html, body, .main, .page, .content, #flex {
    max-height: 100%;
}

#code {
    height: calc(100% - 200px);
    max-height: calc(100% - 80px);
}

body, .main, .page, .content, #flex {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.main, .page, .content, #flex {
    flex: 1 1 auto;
}

#code {
    flex: 0 0 auto;
}

#run {
    margin-top: -60px;
    margin-bottom: 30px;
    z-index: 1;
    width: 100px;
    height: 30px;
    align-self: flex-end;
    margin-right: 30px;
    border-radius: 15px;
}

#console {
    flex: 1 1 auto;
    overflow-x: scroll;
}