@page "/"
@using Tac.Emit.Runner;
@using Tac.Backend.Emit.Walkers;
@using Tac.Model;
@using Tac.Model.Elements;
@using Tac.Model.Instantiated;

<h1>Tac!</h1>

<textarea @bind="Model.InputValue" style="width:1000px" />

<input type="button" @onclick="Model.Execute" value="Run" />

<p>@Model.Output</p>

@functions {
    Test Model = new Test();
}
